<main>
  <picture >
    <img class="profile-photo" src='assets/diana.jpg' alt="Imagem de Diana">
  </picture>
  <section class="profile-text">
    <h1>Diana Avila</h1>
    <p>
      Sou graduada no curso de Análise e Desenvolvimento de Sistemas pela Faculdade Tecnológica de Ribeirão Preto (FATEC).
    </p>

    <p>
      Minha jornada na programação começou com a curiosidade de entender como as coisas funcionam por trás das telas.
      Desde então, tenho me dedicado a aprimorar minhas habilidades, sempre buscando aprender novas tecnologias e melhores práticas.
    </p>

    <p>
      Não possuo (ainda) experiência profissional na área de programação e quero mudar isso!
      Sou proativa, inteligente e prezo pela qualidade.
    </p>

    <p>
      Tenho muito interesse na área de front-end, todavia busco me aprimorar em todas as áreas.
      Trabalho, atualmente, na área financeira e tenho grande interesse em mudar de área.
    </p>

    <p>Estou disponível para trabalhos remotos e animada para compartilhar meu portfólio com você e mostrar alguns dos 
      projetos que tenho desenvolvido.
    </p>

  </section>
  </main>
