<section class="container text-center">
  <div>
    <h1>Pós Graduação</h1>
    <ul>
      <li>Desenvolvimento FullStack - Descomplica</li>
      <li>CSI: Criminalística - Unyleya</li>
      <li>Psicologia Forense - Unyleya</li>
    </ul>
  </div>
  <div>
    <h1>Graduação</h1>
    <ul>
      <li>Tecnologia em Análise e Desenvolvimento de Sistemas - FATEC</li>
      <li>Bacharelado em Física Médica - USP</li>
      <li>Curso Sequencial em Gestão Financeira - Moura Lacerda</li>
    </ul>
  </div>
  <div>
    <h1>Idiomas</h1>
    <ul>
      <li>Inglês Intermediário</li>
      <li>Francês básico</li>
    </ul>
  </div>
</section>
