.navbar-brand{
  display: none;
  font-family: 'Charm', cursive;
}

a{
  color: #b203f9;
  font-size: 1.2rem;
  margin: 1rem;
}

@media (max-width: 984px) {
  .navbar-brand{
    display: flex;
    font-size: 1.5rem;
  }

  a{
    margin: 0;
    font-size: 1rem;
  }
}