<section class="container">
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
    <div class="col">
      <div class="card h-100">
        <h3 class="card-title">ElasNaTech</h3>
        <div class="card-body">
          <ul>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/elasnatech-arquiteta/">Arquiteta</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/elasnatech-cardapio/">Cardápio</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/elasnatech-otica/">Ótica</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h3 class="card-title">Santander</h3>
        <div class="card-body">
          <ul>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/santander-contador/">Contador</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/santander-insta/">Instagram</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/santander-todolist/">To-do-List</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h3 class="card-title">ImersãoDev</h3>
        <div class="card-body">
          <ul>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/ImersaoDev2025/">ImersãoDev2025</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/imersaodev-media.github.io/">Calculadora de
                média</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/imersaodev-mentalist.github.io/">Mentalist</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/imersaodev-supertrunfo.github.io/">Supertrunfo</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h3 class="card-title">Cursos da Alura</h3>
        <div class="card-body">
          <ul>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/JS---JogoAcerteOnumero/">Acerte o número (voz)</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/JS---Array/">Alura Books</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/Java-Script---Alura/">Fokus</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/JS---Validando_formularios/">MoniBank</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <h3 class="card-title">Autorais</h3>
        <div class="card-body">
          <ul>
            <li>
              <a target="_blank" href="https://github.com/dianafismed/Bot-do-Cats">Bot do Cats</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/Fotografia_Turma_505/">Turma 505</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/Vanessa_Lacerda/">Cv - Vanessa</a>
            </li>
            <li>
              <a target="_blank" href="https://dianafismed.github.io/Micael/">Cv - Micael</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>