<section>
  <ul>
    <li>
      <a
        class="fa fa-github"
        target="_blank"
        href="https://github.com/dianafismed"
      ></a>
    </li>
    <li>
      <a
        class="fa fa-whatsapp"
        target="_blank"
        onclick="whatsapp()"
        href="#"
      ></a>
    </li>
    <li>
      <a
        class="fa fa-instagram"
        target="_blank"
        href="https://www.instagram.com/dianafismed/"
      ></a>
    </li>
    <li>
      <a
        class="fa fa-linkedin"
        target="_blank"
        href="https://www.linkedin.com/in/dianafismed/"
      ></a>
    </li>
    <li>
      <a
        class="fa fa-facebook"
        target="_blank"
        href="https://www.facebook.com/dianafismed/"
      ></a>
    </li>
  </ul>
</section>
