footer{
  border-top: 1px solid #b203f9;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color: #9b0eca;
  margin: 1rem;
  font-size: 1.2rem;
}

a:hover{
  color: #f7edff;
}

